<div id="<%= dom_id position %>">
  <p>
    <strong>Book:</strong>
    <%= position.book %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= position.floor %>
  </p>

  <p>
    <strong>Bookshelves:</strong>
    <%= position.bookshelves %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= position.row %>
  </p>

</div>
